@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: auto;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    font-family: 'Rubik', sans-serif;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    max-width: 100vw;
    gap: 2em;
    background: hsl(270, 20%, 96%);
    position: relative;
}

main {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.phone {
    display: grid;
    margin-top: 4em;
    border: 9px solid white;
    grid-template-rows: auto auto auto;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    max-width: 230px;
    box-shadow: 2px 2px 20px grey;
    z-index: 2;
}

.notch {
    background: white;
    width: 50%;
    height: 24px;
    border-radius: 40px;
    position: absolute;
    top: -10px;
    left: 48px;
}

.heading {
    display: flex;
    background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    align-items: center;
    padding-top: 1.6em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
}

.heading .avatar img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.heading .avatar {
    border: 1px solid white;
    height: 20px;
    border-radius: 100%;
    overflow: hidden;
    width: 20px;
    margin-right: 0.4em;
}

.heading h1 {
    font-size: 0.6em;
    margin-bottom: -0.2em;
    font-weight: 500;
    color: white;
}

.heading p {
    font-size: 0.4em;
    color: hsl(276, 100%, 81%);
}

.heading .dots {
    margin-left: 3.8em;
}

.chat {
    background: hsl(270, 20%, 96%);
    padding: 0.3em 0.5em;
    display: flex;
    flex-direction: column;
}

.chat p {
    font-size: 0.55em;
    line-height: 12px;
    font-weight: 500;
}

.chat .left {
    color: hsl(276, 55%, 52%);
    background: hsla(276, 100%, 81%, 0.3);
    align-self: flex-start;
    margin: 0.1em 0em;
    padding: 0.3em;
    max-width: 66%;
    border-radius: 12px;
}

.chat .right {
    color: hsl(271, 15%, 43%);
    background: white;
    align-self: flex-end;
    margin: 0.1em 0em;
    padding: 0.3em;
    max-width: 66%;
    border-radius: 12px;
}

.images {
    align-self: flex-end;
    margin: 0.3em 0em;
    margin-top: 0.5em;
}

.image-flex {
    display: flex;
    gap: 0.7em;
    background: hsl(270, 20%, 96%);
}

.image-flex > img {
    width: 33px;
    border-radius: 10px;
}

.left-check {
    align-self: left;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3em 0em;
    padding: 0.3em 1em;
    border-radius: 12px;
    border-bottom-left-radius: 5px;
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    color: white;
}

.left-check p {
    font-size: 0.6em;
    font-weight: 700;
}

.radiobox {
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type='radio'] {
    appearance: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-clip: content-box;
    border: 1px solid hsl(289, 100%, 72%);
    background-color: inherit;
    border-radius: 50%;
}

input[type='radio']:checked {
    background-color: white;
    padding: 2px;
}

label {
    font-size: 0.5em;
    color: white;
    font-weight: 400;
}

.text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(270, 20%, 96%);
    padding: 0.5em;
    padding-top: 0.1em;
}

.text-area input {
    padding: 0.3em 1em;
    border-radius: 40px;
    outline: none;
    border: transparent;
    width: 95%;
}

::placeholder {
    font-size: 0.6em;
    color: hsl(206, 6%, 79%);
}

.text-area button {
    background: hsl(271, 36%, 24%);
    border-radius: 100%;
    margin-left: -28px;
    padding: 0em;
    border: transparent;
}

.mainpara {
    text-align: center;
    padding: 0em 1em;
}

.mainpara h2 {
    font-size: 2.2em;
    padding-bottom: 0.3em;
    color: hsl(271, 36%, 24%);
}

.mainpara p {
    font-size: 0.9em;
    color: hsla(271, 36%, 24%, 0.5);
}

.purple {
    width: 80%;
    height: 55%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    top: 0px;
    left: -140px;
    background: hsl(264, 100%, 61%);
}

.gray {
    width: 70%;
    height: 55%;
    position: absolute;
    bottom: 0;
    right: -120px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgba(201, 200, 200, 0.1);
}

@media (min-width: 1000px){

    body {
        min-width: 100vw;
    }

    main {
        display: grid;
        grid-template-columns: 50% 50%;
        min-width: 55vw;
    }

    .phone {
        max-height: 500px;
    }

    .purple {
        width: 40%;
        height: 90%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        position: absolute;
        top: 0;
        left: -160px;
        background: hsl(264, 100%, 61%);
    }

    .gray {
        width: 40%;
        height: 90%;
        position: absolute;
        bottom: 0;
        left: 1000px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        background: rgba(201, 200, 200, 0.1);
    }

    .mainpara {
        text-align: left;
        padding: 0em;
    }
}
